@font-face {
    font-family: 'Open sans';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html {
	font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
  	color: #7F8C9A;
  	background : #fcfcfc;
	background-color: #fcfcfc;
	width: 100%;
	min-height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}
